.products-title {
  color: #9c11d8;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 35px;
  text-align: center;
}


.MngProducts-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2%;
}

.MngProducts img {
  height: 240px;
  width: 100%;
}


/*-----------------------------------
   Services Responsive for tab device 
   ------------------------------------*/

@media only screen and (max-width: 600px) {
  .MngProducts-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (min-width:600px) and (max-width:992px) {
  .MngProducts-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}