.main{
    height: 32px;
    width: 32px;
    margin-right: 7px;
    border-radius: 20px;
    background-color: #f28b82;
}
.main1{
    height: 32px;
    width: 32px;
    margin-right: 7px;
    border-radius: 20px;
    background-color: #fbbc04;
}
.main2{
    height: 32px;
    width: 32px;
    margin-right: 7px;
    border-radius: 20px;
    background-color: #fff475;
}
.main3{
    height: 32px;
    width: 32px;
    margin-right: 7px;
    border-radius: 20px;
    background-color: #ccff90;
}
.main4{
    height: 32px;
    width: 32px;
    margin-right: 7px;
    border-radius: 20px;
    background-color: #a7ffeb;
}
.main5{
    height: 32px;
    width: 32px;
    margin-right: 7px;
    border-radius: 20px;
    background-color: #cbf0f8;
}
.main6{
    height: 32px;
    width: 32px;
    margin-right: 7px;
    border-radius: 20px;
    background-color: #e6c9a8;
}
.main7{
    height: 32px;
    width: 32px;
    margin-right: 7px;
    border-radius: 20px;
    background-color: #d7aefb;
}
.main8{
    height: 32px;
    width: 32px;
    margin-right: 7px;
    border-radius: 20px;
    background-color:#aecbfa;
}
.main9{
    height: 32px;
    width: 32px;
    margin-right: 7px;
    border-radius: 20px;
    background-color: #ffffff;
    border-color: black;
    border-style: solid;
}